/*
 * GlobL
 ***************************************/
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(PTSans.woff) format('woff');
}

body {
	background-image: url(../img/bg5.png);
	font-family: 'PT Sans', sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	height: 100%;
}

.command-module {
	max-width: 900px;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}

/*
 * Header
 ***************************************/
.header {
	width: 900px;
	height: 60px;
	background: url(../img/icon.png) 30px 0px no-repeat, #888;
	background-size: 60px 60px;
	cursor: pointer;
	border-radius: 0 0 20px 0;
	/*box-shadow: 0 0 30px rgba(0,0,0,0.5) inset;*/
}

.search {
	margin: 13px 0 0 20px;
	float: left;
	height: 20px;
	width: 150px;
	background-color: #bbb;
}

.title-string {
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: white;
	margin: 30px 0 0 85px;
	text-shadow: 1px 1px 2px black ;
	cursor: pointer;
}

/*
 * Sidebar
 ***************************************/
.left-sidebar {
	display: inline-block;
	width: 200px;
/*??	height: 400px;*/
	background-color: #333;
}

.section {
	margin: 20px 0 0 40px;
}

.left-sidebar ul {
	padding: 0;
	list-style: none;
}

.left-sidebar li {
	margin: 10px 0 20px 0;
}

.section ul {
	margin: 0 0 0 10px;
	width: 150px;
	display: none;
}

.section li:hover ul {
	width: 150px;
	display: block;
}

.left-sidebar a {
	text-decoration: none;
	color: white;
}

/*
 * Content
 ***************************************/
.news-block {
	padding: 0 20px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 -4px;
	width: 700px;
	/*height: 800px;*/
	/*background-color: #999;*/
}

.post {
	display: block;
	margin: 50px auto;
	width: 600px;
	/*border-radius: 3px;*/
	/*height: 300px;*/
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.active-post {
	height: 500px;
}

.title-line {
	padding: 15px 0 0 0;
	font-size: 1.5em;
	text-align: center;
	color: #333;
	font-weight: normal;
}

.title-line:hover {
	cursor: pointer;
	color: orange;
}

.title-line::after {
	content: "26.10.14 | books";
	font-size: .7em;
	line-height: 2em;
	display: block;
	margin: 15px auto;
	width: 600px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.7);
}

.read-full {
	display: inline-block;
	margin: 0 0 10px 470px;
	font-size: .9em;
}
.read-full:hover {
	cursor: pointer;
	color: orange;
}

.content {
	font-size: 1em;
	padding: 15px;
}

.footer {
	position: relative;
	bottom: 0;
	width: 900px;
	height: 50px;
	background-color: #888;
}