/*
 * GlobL
 ***************************************/
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(PTSans.woff) format('woff');
}

body {
	background-image: url(../img/fon4.png);
	font-family: 'PT Sans', sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	height: 100%;
}

.command-module {
	max-width: 900px;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}

/*
 * Header
 ***************************************/
.header {
	width: 900px;
	height: 70px;
	background: url(../img/icon.png) 30px 0px no-repeat;
	background-size: 60px 60px;
}

.authorization {
	margin: 0 50px 0 0;
	float: right;
	height: 70px;
	width: 360px;
	background-color: #333;
	line-height: 1.5em;
	color: #111;
	opacity: .8;
	border-radius:0 0 20px 20px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.authorization input {
	margin: 5px 0 0 20px;
	width: 150px;
}

.authorization a {
	color: orange;
	font-weight: bold;
	margin: 0 0 0 25px;
}

.uvedomlenie {
	color: #bbb;
	text-align: center;
	margin-top: 20px;
}

.title-string {
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin: 30px 0 0 85px;
	text-shadow: 1px 1px 2px black ;
	cursor: pointer;
}

/*
 * Sidebar
 ***************************************/
.main-colum-left {
	display: inline-block;
	margin: 50px 0 0 0;
}

.left-sidebar {
	padding: 5px 0 5px 0;
	background-color: #333;
	width: 200px;
	opacity: .9;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.section {
	margin: 20px 0 0 40px;
}

.left-sidebar ul {
	padding: 0;
	list-style: none;
}

.left-sidebar li {
	margin: 10px 0 20px 0;
}

.section ul {
	margin: 0 0 0 10px;
	width: 150px;
	display: none;
}

.section li:hover ul {
	width: 150px;
	display: block;
}

.left-sidebar a {
	text-decoration: none;
	color: white;
}

/*
 * Content
 ***************************************/
.news-block {
	padding: 0 20px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
/* 	display: inline-block; */
	float: right;
	vertical-align: top;
	width: 700px;
}

.post {
	display: block;
	margin: 50px auto 0 auto;
	width: 600px;
	height: 300px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	overflow: hidden;
}

.active-post {
	height: auto;
}

.title-line {
	padding: 15px 0 0 0;
	font-size: 1.5em;
	text-align: center;
	color: #333;
	font-weight: normal;
}

.title-line:hover {
	cursor: pointer;
	color: orange;
}

.information {
	display: inline-block;
	width: 600px;
	height: 30px;
	text-align: center;
	color: #e8ebff;
	line-height: 2em;
	border-top: 1px solid #444;
	background-color: #555;
}

.date {
	display: inline-block;
}

.category {
	display: inline-block;
}

.read-full {
	display: block;
	/* padding: 5px 0 0 0; */
	background-color: #bbb;
	width: 600px;
	height: 40px;
	margin: 0 auto;
	font-size: .9em;
}
.read-full:hover {
	cursor: pointer;
	color: orange;
}

.content {
	font-size: 1em;
	margin: 15px;
	/*height: 120px;*/
	/* overflow: hidden; */
}

.footer {
	position: relative;
	bottom: 0;
	width: 900px;
	height: 50px;
	background-color: #888;
}

/*
 * New Article
 ***************************************/
.addArticle {
	display: block;
	margin: 35px 0 0 30px;
}

.saveArticle {
	margin: 60px 0 0 470px;
}

.publish {
	display: block;
	margin: 35px 0 0 25px;
}

.new_post {
	display: block;
	margin: 50px auto;
	width: 600px;
	height: 500px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	overflow: hidden;
}

.new_title_line {
	margin: 30px 0 20px 50px;
}

.new_information {
	display: inline-block;
	width: 600px;
	height: 30px;
	text-align: center;
	line-height: 1em;
	border-top: 1px solid #444;
	background-color: #555;
}

.new_information textarea {
	margin: 3px 0 0 0;
}

/*
 * Registration page
 ***************************************/

.table_registration li {
	list-style-type: none;
}

.post hr {
	width: 90%;
	opacity: .3;
}

#button_reg {
	margin: 30px 0 0 40px;
}

/*
 * News page
 ***************************************/

.news_post {
	margin: 50px auto 0 auto;
	padding: 0 0 10px 0;
	width: 900px;
	height: auto;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.news_information {
	display: inline-block;
	width: 900px;
	height: 30px;
	text-align: center;
	color: #e8ebff;
	line-height: 2em;
	border-top: 1px solid #444;
	background-color: #555;
}